html {
  min-height: 100%;
}
body {
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
}
/*------header-------*/
h1 {
  font-size: 6em;
  margin-top: 120px;
}
/*------center-------*/
.orderSelection {
  border-radius: 10px;
  background-color: #ffffe6;
  margin: 20px;
  padding: 20px;

}
.choiceLabel {
  margin: 10px;
  padding: 10px;
}
.inputLabel{
  margin-top: 10px;
}
.btn {
  margin-top: 20px;
  background-color: #e6ccb3;
}
/*------order-------*/
.orderTotal {
  display: none;
  padding-top: 10px;
}
