body {
  background-color: #e6e6e6;
}
.jumbotron {
  background-color: #f1dfb7;
}
.sidebar {
  background-color: #98ba92;
  float:left;
  color: white;
  margin-left: -50px;
  padding-bottom: 100%;
  padding-right: 300px;
  padding-left: 50px;
  padding-top: 40px;
}
.main {
  float: right;
}
h1 {
  text-align: center;
  font-size: 75px;
}
h4  {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
h5 {
  color: #f1dfb7;
  font-size: 20px;
}
h6 {
  color: blue;
}
.special p {
  color: blue;
}
.btn {

}
/*.returnNumber {
  display: none;
}*/
